html, body, table, tr, th, td {
	padding:0;
	margin:0;
	border:0;
	border-collapse:collapse
}
table {
	margin:0 auto;
	margin-top: 40px;
}
th {
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:100;
	text-align:left;
	width:190px;
	height:30px;
	line-height:30px;
	background-color: #55b806;
	border-right: 1px solid #c7c5ae;
	border-bottom: 1px solid #2a7a05;
	padding-left:10px;
}
td {
	width:190px;
	height:40px;
	line-height:40px;
	border-right: 1px solid #c7c5ae;
	padding-left: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#4a242a;
}
tr.color{
	background-color:#ececd8;
}
#germany {
		margin-bottom: -6px;
	display:inline-block;
	background:url(germany.jpg);
	width:32px;
	height:23px;
	background-repeat:no-repeat;
}
.mexico {
		margin-bottom: -6px;
	display:inline-block;
	background:url(mexico.jpg);
	width:32px;
	height:23px;
	background-repeat:no-repeat;
}
#uk {
	margin-bottom: -6px;
	display:inline-block;
	background:url(uk.jpg);
	width:33px;
	height:24px;
	background-repeat:no-repeat;
}

