table {
	border-collapse: collapse;
	border: 1px solid #828282;
	width: 30px;
}

table tr th {
	border: 1px solid #828282;
}

table tr td {
	border: 1px solid #828282;
}

.label {
	text-align: right;

}

.foot {
	background-color: #90AFF5;
	text-align: center;
}






