body {
	background-color:#eee;
	font-family: Calibri, Arial, sans-serif;
	font-size:100%;
	margin-top: 1rem auto;

article {
	width:800px;
	text-align:left;					
	header h1{
			padding-left: 2.5rem;
			font-size: 2rem;				
			margin:0;}

ul li{		 
		 list-style:none;
		 background-color:#000;
		 text-align:center;		 
		 margin-bottom:0.4rem;
		 display:inline-block;
		
		 label{
			   background-color:inherit;
			   color:white;}
}
section{
		text-align:center;
		background-color:#999;
		height:420px;
		width:610px;		
		background-repeat: no-repeat;
		background-size: auto 100%;
		padding-left: 2rem auto;} 
}
}  
 
@each $planet in sun, mercury, venus, earth, moon, mars, jupiter, saturn, uranus, neptune, pluto {
  ##{$planet}{
   &:hover ~ section{
    background-image: url('../HW-CSS-SASS/imgs/#{$planet}.jpg');} 
  }
}